.App {
  display: flex;
  width: 100vw;
  justify-content: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 500px;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin-top: 10px;
}

.header-div {
  display: flex;
  height: 70px;
}

.task-text-input-div {
  display: flex;
  width: 400px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.to-do-list-div {
  flex: 1;
  width: 100%;
  overflow-x: scroll;
  border-top: 2px solid cadetblue;
}

@media screen and (max-width: 500px) {
  .app-container {
    border: none;
    width: 100vw;
    margin-top: 0px;
    flex: 1;
    height: unset;
  }

  .task-text-input-div {
    width: 90vw;
  }

  .header-div {
    height: calc(40px + 4vw);
  }
}
