.ToDoList {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.task-item-div {
  display: flex;
  margin: 10px 0 10px 0;
  height: 40px;
  width: 400px;
  position: relative;
}

.delete-button {
  position: absolute;
  left: -30px;
  font-size: 30px;
  color: #de3131;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .task-item-div {
    width: 80vw;
  }

  .delete-button {
    left: -6.5vw;
  }
}
