.Header {
  display: flex;
  flex: 1;
  background-color: cadetblue;
  justify-content: center;
  align-items: center;
}

.header-container {
  font-size: 25px;
  color: white;
}

@media screen and (max-width: 500px) {
  .header-container {
    font-size: calc(14px + 2vw);
  }
}
