.SwapTaskButton {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

.active-swap-button {
  background: cadetblue;
  color: white;
  padding: 5;
  border-radius: 3px;
}

@media screen and (max-width: 500px) {
  .SwapTaskButton {
    font-size: calc(16px + 1vw);
  }
}
