.TaskTextInput {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.input {
  flex: 0.9;
  font-size: calc(10px + 1vmin);
  padding-left: 10px;
  outline: none;
}

.button {
  flex: 0.07;
  font-size: calc(20px + 1vmin);
  border-radius: 20px;
  cursor: pointer;
  color: grey;
  border-color: grey;
  background: white;
}
