.TaskTextInput {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.input {
  flex: 0.9;
  font-size: calc(10px + 1vmin);
}

.button {
  flex: 0.07;
  font-size: calc(13px + 1vmin);
  border-radius: 20px;
  background-color: cadetblue;
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 5px grey;
  border-color: cadetblue;
}
