.Header {
    display: flex;
    flex: 1;
    background-color: cadetblue;
    justify-content: center;
    align-items: center;
}

.header-container {
    font-size: calc(10px + 2vmin);
    color: white;
}
