.TaskItem {
  display: flex;
  flex: 1;
  box-shadow: 2px 2px 5px lightgrey;
  cursor: pointer;
  border-radius: 3px;
  justify-content: space-between;
  border: 0.5px solid lightgrey;
  overflow: hidden;
}

.TaskItemActive {
  display: flex;
  flex: 1;
  box-shadow: 2px 2px 5px lightgrey;
  border-radius: 3px;
  justify-content: space-between;
  border: 0.5px solid lightgrey;
}

.done-div {
  background: cadetblue;
}

.done-text {
  color: white;
}

.task-item-button {
  display: flex;
  flex: 0.12;
}

.task-text-div {
  display: flex;
  flex: 0.88;
  overflow: hidden;
  align-items: center;
  justify-content: flex-start;
  cursor: text;
}

.task-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: calc(10px + 1vmin);
  color: grey;
}
.task-item-input {
  flex: 0.88;
  border: none;
  font-size: calc(10px + 1vmin);
  padding-left: 10px;
  outline: none;
  margin-bottom: 1px;
  margin-left: 1px;
}
